@use './_variables' as v;
.event {
  text-align: center;
  color: #b7aa9e;
  font-family: 'Great Vibes', serif;
  padding: 2rem;
  font-family: 'NewVeljovic';


  &__title {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: 'KZCeremoniousOne', sans-serif;
    font-weight: 300;
  }

  &__timeline {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-left: 2rem;
  }

  &__item {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 2rem;
    text-align: left;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 8px;
      height: 8px;
      background-color: #b7aa9e;
      border-radius: 50%;
    }
  }

  &__time {
    font-weight: bold;
    font-size: 1.4rem;
  }

  &__text {
    font-size: 1.2rem;
    margin-top: 0.2rem;
  }
}
